<!DOCTYPE html>

<html>
	
	<head>
		<title>Joe "Jody" Starks</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= stylesheet_link_tag    'application-bootstrap', media: 'all', 'data-turbolinks-track' => true %>
		<%= stylesheet_link_tag    'application-custom', media: 'all', 'data-turbolinks-track' => true %>
		
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
		<script src="http://www.greensock.com/js/src/utils/SplitText.min.js"></script>
		
		<%= csrf_meta_tags %>
	</head>
	
	<body data-spy="scroll" data-target="#bs-example-navbar-collapse-1" data-offset="70" id="top">
	
		<div class="container-fluid">

			<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" id="navToggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#top">
							<%= image_tag("joe.jpeg") %>
							Joe "Jody" Starks
						</a>
					</div>

					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#about" class="scroll">About</a></li>
							<li><a href="#photos" class="scroll">Photos</a></li>
							<li><a href="#likes" class="scroll">Likes</a></li>
						</ul>
					</div>
				</div>
			</nav>

			<div id="startchange"></div>

			<div class="main">

				<%= yield %>

			</div>

			<!--<footer class="row">-->

				

			<!--</footer>-->

		</div>
	
	</body>
	
</html>
